html {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #1F262E
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
}

.card {
  margin-top: 10px;
  background-color: #DEDEDE;
  width: 30%;
  background: white;
  border-radius: 4px;
  
  background-image: repeating-linear-gradient(to right,
  #c4e17f 0px, #c4e17f 50px,
  #f7fdca 50px, #f7fdca 100px,
  #fad071 100px, #fad071 150px,
  #f0766b 150px, #f0766b 200px,
  #db9dbe 200px, #db9dbe 250px,
  #c49cdf 250px, #c49cdf 300px,
  #6599e2 300px, #6599e2 350px,
  #61c2e4 350px, #61c2e4 400px);
  background-size: 100% 10px;
  background-repeat:no-repeat;
}

.tags {
  display: flex;
  flex-flow: row wrap;
}

.tag {
  margin: 7px 10px 0 0;
  border: none;
  border-radius: 3px;
  color: #000000;
  background-color: #00FABB;
}

button.tag {
  transition-duration: 0.2s;
}

button:hover.tag {
  color: #1A1A1A;
  background-color: #00dba4;
}
