html {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #1F262E
}

.hide {
  display: none;
}

.cards {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
}

.card {
  margin-top: 10px;
  width: 30%;
  background: #FFFFFF;
  border: 5px solid;
  /* border-image-source: linear-gradient(45deg, #0A81FF, #F91F4b, #8400BD); */
  border-image-source: linear-gradient(45deg, #4FCF5E,#F9FF47, #FFC847);
  border-image-slice: 1;
}

.title-box {
  display: flex;
  background: #242424;
}

.gradient-title {
  background: linear-gradient(45deg, #4FCF5E,#F9FF47, #FFC847);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-left: 7px;
}

.card-desc {
  margin: 0 7px 0 7px;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  background-color: #242424;
  padding-bottom: 7px;
}

.tag {
  margin: 7px 10px 0 0;
  border: none;
  border-radius: 3px;
  background: linear-gradient(45deg, #4FCF5E,#F9FF47, #FFC847);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

button.tag {
  transition-duration: 0.2s;
}

button:hover.tag {
  color: #FFFFFF;
}

.tag-section {
  border-bottom: 5px solid;
  border-color: #FFFFFF;
  color: #FFFFFF;
  width: 95.8%;
}

.arrow {
  border: 5px solid;
  border-width: 0 3px 3px 0;
  border-color: #FFFFFF;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: (45deg);
}

.control-buttons {
  float: right;
}

.control-button {
  margin-left: -5px;
  background: linear-gradient(45deg, #0A81FF, #F91F4B);
  border: 2.5px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 15px;
  padding: 5px 20px 5px 20px;
}

@media (max-width: 900px) {
  .card {
    width: 47%;
  }

  .tags {
    padding-bottom: 5px;
  }

  .tag {
    margin: 5px 0 0 0;
  }
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }

  .tags {
    padding-bottom: 4px;
  }

  .tag {
    margin: 4px 0 0 0;
  }
}
